.layoutConatiner{
    background-color: #F0F5F3;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.topSection{
    height: 12%;
}
.bottomSection{
   display: flex;
   height: 88%;



}
.sidebar{
    width: 6%;
    display: flex;
    justify-content: center;
}
.mainContent {
  width: 92%;
  height: 100%;
  background-color: var(--bg-white);
  border-radius: 2rem;
  margin: 0.8rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
