.tableContainer{
    width: 98%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: start;
    box-sizing: border-box;
}
.container{
    width: 97%;
    margin: 0 auto;
    padding-bottom: 10rem;
    color: #000000;
}
.container h3{
    font-family: Inter;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #565656;

}
.tables{
    display: grid;
    width: 100%;
    height: 100%;
   grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-items: center;
}
.tableCard{
    width: 146px;
    height: 126px;
    border-radius: 7.05px;
    border: 1.17px solid #BABABA;
   background-color: #F0F5F3;
   display: flex;
   justify-content: center;
   align-items: center;
}
.tableCont{
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
}

.tableTitle{
    font-family: Poppins;
    font-weight: 500;
    font-size: 28.22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
   
}

.tablename{
    font-family: Lato;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

}
.tableChairs{
   display: flex;
   justify-content: end;
   align-items:center;
   font-family: Lato;
    font-weight: 700;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 1rem;
}
.deleteBtn img {
 width: 16px; 
  height: 16px;
  
}
.deleteBtn {
  width: 16px; 
  height: 16px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  align-self: flex-end;
}

.addTable{
    width: 147.9px;
    height: 126.8px;
    border-radius: 7.05px;
    border: 2.35px dashed #999999;
    font-size: 16.4px;
    cursor: pointer;

}
.addTableForm{
    width: 194px;
    height: 253px;
    border-radius: 18px;
    background-color: #F0F5F3;
    box-shadow: 1px 4px 14px -1px #00000040;
    padding: 20px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Lato;

}
.addTableForm p{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

}
.addTableForm h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    border-bottom: 1px dotted #000000;
    margin-top: 0px;
    margin-bottom: 10px;
}
.addTableForm label{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: start;
    margin-bottom: 10px;

}
.addTableForm select{
    width: 49px;
    height: 26px;
    border-radius: 8px;
    background-color: var(--bg-white);
    border: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #4E4E4E;
    margin-bottom: 10px;

}

.createTableBtn{
    width: 150px;
    height: 39px;
    border-radius: 15px;
    background-color: #505050;
    font-family: Inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
    color: var(--bg-white);
    border: none;

}